name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Chcekout code
      uses: actions/checkout@v5

    - name: Run some bash commands
      run: ls -al
